.dashboard {
  padding-top: 50px;
  width: 80vw;
  &__header {
    h1 {
      padding: 0px;
      margin: 0px;
      font-size: 32px;
    }
    display: flex;
    justify-content: space-between;
  }
  &__results {
    margin-top: 10px;
    width: 100%;
  }
}
